/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

/* Header */
header {
    background: #111;
    color: white;
    padding: 15px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00adb5;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    text-align: center;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
}


.hero-image img {
     
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
     transform: translateX(30px);
      margin-left: 30px;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 15px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: #00adb5;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #222;
    color: white;
}
.about-container {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 60px 10%;
    background: #f4f4f4;
}

/* .about-image img {
    width: 250px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
} */

/* Text styling */
.about-text h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #00adb5;
}

.about-text p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #333;
}

.about-text h3 {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #00adb5;
}

.about-list {
    list-style: disc inside;
    margin-bottom: 15px;
    color: #333;
    font-size: 1rem;
}

.about-list li {
    margin-bottom: 8px;
}

/* Responsive */
@media(max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 200px;
    }
}

/* Sections */
section {
    padding: 60px 10%;
    text-align: center;
}

/* Skills */
.skills {
    background: #f4f4f4;
}

.skills-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card {
    background: white;
    padding: 20px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-10px);
}
.skill-card img {
    width: 60px;
    margin-bottom: 15px;
}


/* Contact Section */
.contact {
    background: linear-gradient(to right, #00adb5, #393e46);
    padding: 80px 10%;
    text-align: center;
    color: white;
}

.contact h2 {
    margin-bottom: 50px;
    font-size: 2rem;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.contact-card {
    background: white;
    color: #333;
    padding: 30px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.contact-card h3 {
    margin-bottom: 10px;
    color: #00adb5;
}

.contact-card:hover {
    transform: translateY(-10px);
}


/* Footer */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive */
@media(max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }
}
